@CHARSET "ISO-8859-1";
@https://www.google.com/fonts/#QuickUsePlace:quickUse;

html
{
	background: gray;/*url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxQTEhUUExQUFhQXGBgZGBYYGBgWGRUYGB8cGBoYGBcYHSggGCAlGxgdITEhJSkrLi4uGB8zODMsNygtLisBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAJIBWAMBIgACEQEDEQH/xAAcAAACAgMBAQAAAAAAAAAAAAAABgQFAgMHAQj/xABHEAABAwIDBQQFCQUHBAMBAAABAgMRAAQFEiEGMUFRYRMicYEHkaGxwRQyQlJygpLC8BUkYrLRIzNDotLh8SVTY6MWNHNU/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AO40UUUC1iu2LbDqmlNOqykDMnLBJAMCVDnXjW29ud6Xk+KAf5SaTsScz3LxP/dcj7pyz6hUYxmAPGg6Ina204uEeKHB7csVIb2jtT/jtDxUE/zRXOVgQZAPKsuyTlBgUHTW8TZV815o+C0n41JQsHcQfDWuQZE5oisMWbQ1bvOgQpLa1AjQggHUHfpQdJudqrZtxTa1KCkmD3FqEjf80GtjG01qsSHfWlaf5kiubYIVuMtLdJU4UAqUd6lK7ylHzqwtkb44RpQdDTi7B3PNfjSPjW9u7Qr5q0HwUD7q54WEle7h7da03LCANRpu9YoOn0VzhhhI7wkQmdCR13DwqTsNt0HLNlVyF9oQe8ElQWlJICzG4kDXr40D9RVWztAwrcs+aFj25YrcnGGD/io81Ae+gnUVoRetnc4g+CgfjW4Gg9ooooCiiigKKKKAooooCiiigKKKKAooooCiiigKKKKAooooCiiigKKKKAooooCvCa9qJi72Rh1X1W1n1JJoOVKfE5uKjJ8VGajruNZ61lgV1dM3bMXDjrLjiELZdPaJCVkJOQqkpImRGmkV0Ta122tLV25ct23OzAOXKgFRJCQASNNTQc/+UDXUVsLvdAqAx6RLVyC5hDiWz9JtYUY55QEe+nCywS0vmA/YvKAncZUEqG9C0q7yTrxPEHUUCxbElYndqT5xUbbV0ixeA+kkIHUrISPfUl23cYeU06IUmDv+ck6BSTxB3T0gwdKh7YGWmU/XuGEx4LCj7E0DFatBtISNwTHqFDRgnduB5a1i47Ch4HwjSPdWCl6nyG6etBMQrvTPDd7ai3Kid36JrMOcR+oPKtKc4yFXHgOG/XrpNBIxp/s7Z5f1WnFT4JNVOxdt+420jcyn29741u24uMuG3KubZT+MhPxq3wu3DTKGxwbSPCABQb7JPgRqCOg00rNhgBKdP67/AOlYsLCZ3ASr1a/GvSqECD4ef/NBjatpXPd4j1j/AIqowvHHnV3LaHFISxcrbSEqiUwFGfBUjzq8wxByyeenQbvhSx6O2MybpyNHbu4WDz70fA0DfYYg9Edqoqg78pzEeKa3s4pcQCVg6DekcecVFthAVP8AF4/qKxu1w2J07v8Az7JoLRjGnQU9oG8pLaTEzLigjTXmqlZpJc76SoZ0hWhUDJGu6ja257K1QoaH5Ra+P982qPZVtaWuVGUiCE7vIA+ugysbhUgZ3BwHfXqRvG+tjd0/r/aqBCo4GQPtAxpWFoYkE7lEevn66EqML+0YoJCcUfkDOD4hM8I3CtqcfW2gqeyHQBITKZUpaEJEkneV8uFU7ZCndORjfAAyj4mqHbi7V8pw5lBgLdWsxx7JII8pM+IFA4tbY6wphQ1jRYPTiBVi3tEg70OD8P8AqpZFv3Z3z6+vxNb7IbiDvGvU/CgYE7SscSoax8xR/lBrcjHrc/4g15hQ94pYZbGU6aSdKiLPfAyz15cx6qB6tsSacMIdQo8goE+rfUquYY7ips20ONpTnU6htJ+r2pKM3WAomOgqWxjN0Dq+ojXels8eqeVB0Sikg4/dAwFIMRqpO+fskVk3tVccUNHX+IafiNA60Vx3BtqLm8Qq4Ly0StYCEKKUpSk5UgDjuOp31epxi6AGV9W/WQlXXimg6LRXO07SXg07RCj/ABIH5Yr239I6lKcbSyFrZhLqs2RJWZ0QO8YiNTxPSg6HRSY1t0fpW5Hg4D70ipX/AM4aHzmnh4BB/NQNNFLaNtrXiXE+KFH+Wa3o2wsz/jAfaStPvTQXtFRrG/beTmaWlaZglJmDvg8t/tooJNVG1ruW0e6gJ/EQn41b0u7duRbAfWcQPVK/y0CTgTOa8txyWD+Hv/lq59Ntzlwtaf8AuOtJ9Ss/uRUHYkZr5I+qhavZl/NWn09ufu1q3xVcT+FCh+egTLAZWUjkkD2Cd1N/ovucl2UJ+a62cw5qbgpV4wVD/ilJR4cP+Bup89G+GkvqejuIQUg81qgn1Af5hQWPpZtwLMXIH9pbrQQeaHFJbWg9DmB8UikHGVpW9YIG5TqnB4JbUfjTl6bMUCLEW4MuXDiAlPHKhQWo+EhI+9SKhE3tok722HVevImga1K73lURCgFBU6annr5eNW9nhoLS7i4WGrdAKis74G+P68TuBpTO2zJV+64Y480D/eOvqbUrqEgEJ3UFybwFWvIgD2+vWtrCiRugJiIqVs81Z4k2tVuHGLhA77LpKss7jvMpMGFA8N3CqtTbiHnGnAUqTAynhO5QP0geB6EbxFBG9IKQbANz/eusNxzlYP5aZ1OjPB07vlvHHnSttgnMqya53rZPUIBUaZn1QV/Z/XuoMEOmdxjUwBzVAmfChwKVokwAFT5DQCozDvZ5omTu03Aa/EUMXEhOUA8FHkCeflQWmHvwjURCZ959wqh9HAIw62nesurP3lOK/XhU/FHQ3aXK/qMuEfdQfjUXY+3KbGy+iexSrxzJnX1mguy5qQDrrwmIgb/MitN3cpkJmdBPQGRv8t1Q+0JauXoI7Bpbu/QqSFLCT4qAHgD0ra2oKSBoVKyGOg1jwEjdyNBB9ISpTZIH0763B8E5lH3UxrVLihMjL+bWlTanvXOFtcVPOL6Hs25/NTE+gJWtZJBSnUiNQIPh7OdBst0FRcIUEhJJWs6IQADJJPh7POluy2+w0r7Nbt0ElQAuS0EMknQGTKkjqQBTZtRZBGGqZMAultDpHHtFpDuv2Mw8IpSXaNOtrQpI7EEJykbkiEmRzgGOWagdXMELX9og50x5gc5+kI/RpMxlsLxeySRohh9ceOVI9orzZ/a+6s2hZm1cussptXkqSEqb+gl4/RyDQkTonzMdkq/bSM0SjD0pPLOpzeB+t1A3hYggbgR00ia0MOQBO4E8Du1414y9BXmGmaZ4aCPLdUVDqju1hKlEBUb927fQSUKGU74JnXlOvtqIwglwE7gCfXA+FF4owpIOU6a/V3Ez691YBJQ4qDI01O+T/v76Cm2+BULNH1rxr1JClfAVdrTBT+uBqq2nXN3hyebzivwNq/rVoy0t4w2AohUHUAJOpgknfBBjfuoMlLHe8BUJt3uuKndmPsn41ev7OuIZcccWkZEFQSkFXzRMSY+NK168BaPqHBtxXqSaCp9HLMYc31zkea1UyJXony91U2yQy2FsP/ED6zPxpg2MsU3vanOUoaUG9IlSwATv3ASPHXdGoV6Vy4eg/XvpZ2ROd++VwNwofh0pxxLD+wuFtzm0BB4kHn1pU2BSOzuV8VXLpmgYnhChPE1k7urG4Vr6qxUvxoPbkCKi24B3gVsut0dP+a02aSAZ11/QoOgbBJhhwji6fYlAr2s9hU/ux6uL+A+FFAxUn+kV3usJ/iWv8Kcv56cKQ/SG7/bNJ5Nk/iVH5aDT6OGZuHV8mwn8RB/LVd6YsQs0vWrd21crIC1oXbqSFI1SILa+6uY9lXnozb7r6uakJH3QT+akf0qntMXbTwbYSPMlxX5hQY4diuDCM91cgb8imFpV4FSUkeqmN/0rWDDYbsmnXiAQlIQW0DqpS+95gGlGyswqZAI5ke0VJRZgHcBp64/2FBGZQ/d3Pyu8IK9yGx81scAkcI9+pqZspZG5xYoOgQwkK6JKlE+sADzqwTGTdE6Hxg1J9EbYN/iC+XZIHgkAn2qoN/pquCW7SyR3UvOSoD6jUQnwlQP3BVAi3QISkABMJ6QmDHvq29K8/tKx5dk8R48fhVStMpk84jnPD9c+tBbYM92N3bupGWVdmrqhwgFJ6Awr7lNHpIt8jSLtI7zKkhz+JlaglQP2VFKxyynmaTOyMtgfWTA6yIO7dT16UXQnCbwni0QPtKISn2kUHOsadK8SskRoFPOH7rYg+s017KYnZXzq2kOuFxAzFCmy1KQQlUFU5gCRO46ikXC1ZsSY5otFLPDVRSk10DYu0HytSx/21EHicxTy5aCgg7bWRReWlvbAISpq4W8Se6EI7IJccWqSkJ11njHGKv8ABcBs32App7tk7u0aWMsjfGWRv4GaWPSWVXN83Yg5WuyS6+Rop0Zlhtsn6oUkqjjIPAVSJw5TLn7k+u0WrRYRlKFDUAqQruyAnRR1130E7bO4S3aYg2FSpsLaVylYbKY8UuCes004NhxU2yhMDI0lBJPze6nSOJ03e6kDa7DBb4eWQpTinnUdo4oypxa3GyST4CKt9oNl7e4uitxBz5UgKClJPdn4RQPW0eElOGvsMIKlLbKYEZllUJUT5H2UsC3dZ1W05oNXChQSNEgCY0MwOtMXpJzmy7NtxbSnXmGwtCihaQXElRSoag5QaQLTALguBC8QvVtSlRQ44paVgEKCTmOk6e2gl4s5OKWBP+CzdOEcQCMm7wpiZure4UA1eWS1LyJKUvpUqJ1AA1JgmBzpfQrNjigQClFmsHkCt0zPkPbWeG7NW6LxpSWEJWH0KQQACjKQrhzCVHzoHza+xW822ltIVDqVEFQTISlURP8AFlPlSirBX2Ulx5EJzJnvJI1OUEkHiSBp9arL0oYY3dC2YdKgkrW5KTBBQnLM/fpUttjG2VpUh24OQhRQp1RQTIygp466+QoLuwfKgCExGbTkBun21BwcheM3yt+Rm3SOkgqq5wtlIbJ1+YoaneNIPLcKotkADe4m7zcZSDzytjT20DC/ohwHdrpr5++q9peUqy/OMcRpxk+R9lXOHNpdbW6tWRhGcqWdNEb4nSBBk7uHOEu72nuVSbGytUMAkJNylTjzsRrkkZJB3GTqN26gs2bv53EkgyRzM69f6Vva4ZiCqYPkQf61p2Tx9q6c+R3tqi1ulAltTXdbey6nJyUN+U5tPVUy5wJdu6EElTalFSVjTmYPIigocbGbErEDclu4V6wlNK+2ez7SW3LhMh3VYWFEZVTvHI+HKmYuZsVaH1LNZ8My0j4VE24T+7KT9aEjxUoRQdWxl6LFSlby2mfOAffXK8dOWxutNOyWPMyPjXT9tCE2Lk7obHlmTXJtrriMOuDuBSkfiUgfGgn4M0U2luOIYRpz0FV+Hou7R1Ttk+Gw6e+2tOdJInWDx8NdauR3WkDk2kewVstcEuXiOzaXB1zHupjxVE+VBqtHXFrzurLjitVrMCSNDAGgA3ADhVL6OlTZFX1nHFeskVblRb7RJEFvOlXHVOh146zVV6P0RhzQ55z61KNBdrXoJ0Onsr0KnXhrxnQf8VofcBgHw8Kj/KYTHDxoJB1IE8Dpzr2200qGi4J3GKl20T+uNB0nYxMWqOqnP51D4UVt2STFo398+tajRQW9cv2+uv3tf8LaE+9X566hXIdrr9Xyp4i2Q+kLg5nXGySiEx3ZB3dKBy9HTMWmb67iyPAQj3pNcy2vdzY1cz9EISPJCP60x2fpQdbSlKsOCUgQA28CAByBQKWMfx62ubj5SLa9ZdUAFlKWnULiIJBWkhQAAkHhuoLK3jLPKtmUlIPXXj41XYK4twEkLQJgZgBmHOOHhrvq8Qj5w5f80HlkyCnd5+MVD9GWKhq6eWrRD1w6gk7hqlCD+JAHmas7QgBXT4AUs7LW4csUFUd9TiiOeZa1a+RFA6emawPZ212NzDhQ4eTbwCSryUE+uqCxVoJj5xjXyH9atLLbVLbRt8SaW6wpOTtgntJQRGV9A7xPDMmZ5cTUNs4a3/cYmyG+CXUqLiRvAnQqjhIB01JOtBb4Nbly8ZQJgKC1coTCteP0Y8SK3elbEPlDtvhrZkqUl64j6LSNUpPVStfIc6rGtsWmEqRhyF3VysZTcrQW2UeAOpHGOP1tAKj7O4Upt9Tjqy4+5KnHDqVKMEgcgJgeHKg0YW0FYldaABu3ab8AoqV7hT7sIk53CeAAnoo6fy1zvCHR8txFX1nUIn7CAnT8VdN2HAyuKGoJQJ5xJ/N7aBPxo9pjV0QJ7Ju3RyjulwweGi6zZGVcqg7h46GT4Rr51gyrNfYmuP8AHA8Q20hEe+sbkEhKuB9czz6yaCHt533bJCd5vGEnlCSpXwmmq2ILoBie0Qk8wFLGnqE0u7TQm+w1EAAuOuH7jfHzVvppwpGZ9B5rn8Mkfy0G70iOwLRPA3Mq+yhl5fHqAapMDSorJzDTTXWABB4zwFW+3bg7ezTvgXDkfZShE/8Atqgw5xXa5EwJChroEyJPjGYUFfs7K8UxBQgFDTKYjSVy5xppwdWa4Yjg4qZEEhLTmp+8RFK2yLgRdYkqdS62ieZabjh1V7accAR+8t7/AJjq/wCRP5vbQadvnVC4tgmP7t2dJ0Upo7vuVV4g5KgQY+bJBmY7yfKJ9Rq12nbC70BW5DKCBzKluCN3QeqoGIOQZ3ZddNd5I3eB9fjQS2EFLMAg6BIETwgyQfOkzYRSiL3L896/Uyk8gYSFDgcqZPgmmfDgpTZTICUr1PExp7edL3o3WkfIif8AFv7pXiezfA91B0Pau3Si0QwnRtS0IP2ESsg85CIPPMaTA8nMFmEnfB0Ek71Hwj1U6bdSGUEcHPelf686R/kxPZkAyfHTLx9p1oK3bhJS2HkaOsFDzKhwWlUkEcZECutOqTc2qXE/TbS4joSnMPYY8zXMNoWYbXMfNMwDA0147iN/Kuh7DKy4XZlWkWrJM9GxQcvw57NiNwrTuWqE6ajVxSq2bQ95thJ3qubdP+cDTpvqJs8qbu9VEAJtk69UqWZ/EKn4oM1zh7Y43bJI6BQV7qDoXpBV+6EfWWkeqVfCuTbeiMPKfrKQP8yD8K6h6SlHsGUg73hPhkcHvIrl2309nbIMd+4aT6yTr6qCTizNwHy5b3K2SEZYAChz0CpAO7UCd9dK9FuMO3eHNOvqzO5nEKVAGbIopBIGkxFIuIrhLh4gH404ehtuMKYPNTx/9ix8KBKxt8BF4vmXj6yqoOzLgRh7B3dyT75rXtE5Nk+qR3kLP4tfjUXDLYvJw+xSSO2yBZG8NgZl/wCUGgcdnsLFw0q7uFFqzQFKB3LeCNSv+FGmkd5XCNJX7/bG4zTaWVm0yPmh1BedUneCtWYAaR3dYnea6P6RCGrJDSAAlS0ICRoAlIKgI5AoFcyQBJHP9afrhQMWyGN2uJqVa3Vsi2u4JSpnuJcjUlHJQ35VZtNZMGNmK4Gu1cyqOZBjIvdmAO48iNK53jDyrd5q4b0caWFA84Mge8EcjX0Bjlum6siU71Nhxs8jGZPr3edBI2YH7ox1Qk+vX415WzZ8Ra2//wCTf8oooLCuPXbmda1z85xxXrUTXXLp3IhSvqpJ9QmuOMOphMEbgT40Ee5tCdw3fGsm8P085irJKxvmvUkCf0aCL2ZgaHrrGnrqfbo0039etaUK1/3mpgy5SZg/rhQQ8TcyMPLmMraj6hM1D2XZy2duP/EmR1I19s15tkvLYXB4lBT+Luge2p9k2EJSngAPdEeygi3dmVK3aRH9KxThCQrVCTIicoJ8tDV7l/XtoVH6/rQV1ja6xBABMDcOQirBltWcbpHuiOk762MBJgExx3ka1kjQqJOiQrXr4+FAj7PuQ3culC3c148rK3lCiJABGbSBl3delNmE+ka1tmw0bO/RrqVIbUSTzhzlGgFU/o51w9tR+mp1Sh9paj7iKsncPKnSeGhB5RH9KCrxLaKzLzz7C7hBeOZbS7dzvLCQg5FgFInKNDpM661eFIUzmgp1mCNQMsweu/21rRaqCMsEkKA0kCDE+JqySyQgcjvnUzqdeWpoF/aVOfFLVI/w7Z5z8Sko4UwYLfpbdYDiolwI1gDvoWE+tUDxPWqFpoqxpaiR/ZWbaN2krWVbvKt+PWQWSg6yO9v3KKpgeMEctKBs2xwNx5bTrYzFDbrZTIBh0tKzanh2UR/FxpZZb7O+ZZ0LpSpTiQZ7JASQkrI3KUqITyBPKoTfy8NhCMQf7P5sZWlOAD6IdUM5McdTVngWGN26kxmK9S4pUrWtRCu8pWpJ/pQLGzLY/eXJEu3z4GoAyhSdJ5wkkeBiul7J2Cge0cKc2UoTCgokKIUSqN3zU6dDXPtgcLausNSXk5kvOuuQoAgHOsA+OlR8T2MtUryttBs5ZlJI1Ekga8dKB/2qbU1cB/KooKEJkAmCguEgxukOacNKq2G+0KiBAXmgERpEEn9ceFLVjsynMUpfvEKgZQm4cRuidZjn6qvsBti0JK3XACVdo6srUZypjMrWITu8aCVhicjT88Ao68gD/SkHZpTreG2q0A52lh9A+uUrWtQk/WQSn71O2L3Abs7xYkww6pOnJKo3buFV+ytqDh9qqDIZQRvA1Tz3cTr1oHy8U3f2IWycyXEpcbO4ykhQB5GRlIO7UUlYc8kpSmQTqFRvBVqR0OhFV9piVxhjq1MpDlutWZdsTBSo/OWyY7vVO49N9Sb/AGqw5851G7tHTqpPYKWCTrJCAoT1BFBC2mKlJcbQJcWA02BrLjpygRwkqBO/QGn7Hnk29s1ZoPfWgNgcmkAJWo+Xd8Vikmwxy3Q4ly2ZuLu417N15HYMtEiCoBQzzlnWDoSARJqZhrTpuHHbhfaPLTCjEJABEIQn6KRJgdSTJJNBR4Fq9iB01fQj8CEipKEzimHo/wDKpX4W1q+FVmz6jmunPrXj3qTCfhV7syyXsXYUnvJYbcWpQGic6OzSCeBOYkDiAeVAzekxfcZH8Sz5wB+auabWypVhPG4aI8EiTNdJ9JLZPY8oc9fcrm20ol/DUcy6r8KRQWWOrhl1XQ10D0ap7PB7b/8AJa/xKUv41zPF3VLYUhAUtZ7oQgFRJUCIATrNdcwTC1s4a1bn+8RbBBA+vkgj8VBxTaRz/p7xO6I8SopHxqz2IITi9iFf9hSU+PZr+Aqq2wTGHvD+NA/zJ09lZYo44w5b3KB37dSVRzSCJT4EaeBoOr+lFB+TNngHhPgUq19fvrnCW+95V1jEsmI4eVMkKDqAts/xJ7wSeRkZTy1rlLa94jUcI4jQg8taCk2ob/sj5e8V3bY5yMNtFK4WzJJ6BtPwrhGPBTgSygS44tKEgcSTA9pFdn2puha2KbdJ76mw0kckJSApXhGnioUDJhiMrLSeSED1ACit7aYAHIAUUGVU+MYLbuCXGGVHmUJJ/FEirio1+mU0HMsY2cYElHaN/YcWPYSRS07hzo+ZcOD7QSr+ldAxe2JmlpdoqgV3hdt6hxCvKD7vjWs41eD6KCP1/FTFcWp5VWu2h5UFLjWJPvtFtTeUGNxkaGd3lVKi4vW/muunxKj76bVW55Vh8nPKgXE7WXqPnKV+FJ94+NWNntddOJkZVCY1SBu8CKs/khrA2h5UHiNrbob2kHyV/qIrx7bB4tqR2SkkgjMFECSN5BTzo7A8qxLPSgb9jbbsrS3HNpCj9oj9GmYIH65da5cm4dT81xxMCBClQB4bq2DF7xOqbg+CkoPty0HS1KAM6xPA7vIfrWvXMpjKd5MjXz04VzQbQ3oM5mleII/lis07VXcypppX2SUx4HNp/tQMGDuk4tiKo7kMNjoUozR7abVWYKgreR+h7RXNNmccDKn1PtulTzwclICsoCcoBJIk01t7fWe5S1pPHM2v4A0F4cPSTEHQyNYEwd3rPrrXiC8jbqiAChpajH8KSZ6VVf8AzG0UZFwhPU5k+RzDwqu2m2oaVZ3WR1tSlMrQMq0g6pyzlmTry6UEj0cJKLC3bO5SErT4L7x9s01uWiSQeWvw9wrluz+3vZ27DarYkNtJQFJXqYAE/N0nLummBr0n2+5TT6fwH8woHBy1Eg7zrrMcZ1jf4dK8Ys8gGRIjiJPlwpXPpEtFcVjmFIP5ZrJrbe1iUv6/VKVj+ZI99Bt22cy4beK4FojzVAj21YYDAtWAncGkII+ykJPupN282iacw9bLbjalOqbTotM/PTPc38Kd7dvIdIiAYHAnf/t40EO9w4qcJ4HT1afE1gMOhf1kmQRoOQ3yI0FXyh+vfWh8jp8KCntLMgkqTEyAZ0MnTd061KbaIXqdddemkDjUhDiNyhHlpPHWtKVAZ1DckKjlQJmzliH7BxKjo68+ZB1jtDr6xWVpd4gkhLeIOpTpEoaVv+0gzuqT6O0f9PYTxhR8c5K/zVdfs9IBEcZnzoKleK4msFC7hl1PHtbdO/7kQaqMTBViFgFZcyG3lKicoMRoCZjTnTY3bAToSDJ1jQ0rXq/+sMjgm0JP3lkT7qDG8w1bbiiw/cM5zmUGnVoBO6coOp3b6ksvX6cuTELrX6xS54/PBNXirUEhXGtYtRm0GonwoFDbNTxth27vbKW+0Ars20HeZkoSM27jNX19bAjdM6GevjVXt9821HO7b/ygz76YlpnrMUFFs9jtxhiyGR21usypgkgpMwVNqjun2H21a4ttFhV2e0Wbq0ePzv7FSwpXMhsKBPUETxqOLEk67pn+tBs4nSeVAYLe2Vu721u3c3lzHcceSGWmp0lIIzT1gnfqKkh919anH1Z3FwDpCUjghA4JEn1kmTWu0YjhBqdaNy4gc1oHjKgKDrVFFFAVitMisqKCnvrGaql4T0ptrEoHKgSnsJ6VAewjpXQVW6TwrSuwSaDnC8H6V5+x+ldAVhYrz9mCgQhhHStasJ6V0E4cmtSsNFBz1WE9K0rwrpXQ1YWK0O4TpQc1fw48qgvWRAro7+E9KrLnC54UCKbY8qwLB5U6KwnpWo4T0oE7sTyrx1vWmxWE9Kjv4V0oFZVsk70p9QrWqwQfoD3e6mRWFdK9RhHSgXxZhIASIAAEUFumn9l9KxXhPSgVSwDvA9QrWbNH1U+qmhWFdK1/srXdQKr+ENlQVl1gD9A+NCMPy/NWtPgY91ND2GVGVhxoKhC7hPzbp4ffV/qracRvY/8AsqP2gD7wanGxNYGzNBAuNpb5pM5gvXghJPsAgVCc2xu1IKC0jUEZjmSrXSdFa1c/JTyrBTRFBZbL7SWzNuw2pZSpDaUqlKokb9QI/Qq8VtNakaPI8CY99JqmQd4HqrEW6fqj1CgdG8baKYDrZnSMySfYaUsQxZtvE1vKBKfk6WhEEzIVz3da1BkchQWqC+RthbEaqI8Uq+Aoa2nt5ntUjxkT4zS0rD2yZKETzgTWJwtv6o8iR8aCbtDirb79klCkqAeK1QQY04xuprQ4AYBkbhSKcJR1Hn/WvW8H+qtY86B9cI5itD7lLTGELj/7Do86kpwtf/8AQ76kn3igYWAn/epGFJl5rq617FA1CwzAFK33Dn4W/wDTTdgex6ErQ6XnFFBCgISASN0wKByooooCiiigKKKKAooooCiiigxKawKK20UGgorzJW+K8KaCIu3BrSqwTVhkrwpoKxWHCtZwsVbZa8y0FIvChUV3CelMmWvMtArKwjpXreFdKZ8lHZ0FAnCOlYrwjpTDlrwpoFpWEdK1HCelNWWvMlAou4T0qM5hHSnUtisDbDlQIysI6VqVhHSnw2aeVYGxTQISsJ6VDcwnpXRlYcKjO4UKDm7uE9K1fsnpXQnMJ6VpOEdKBFGE9K2JwrpT0nCZ4VtTg/Sg58cJ6VirCeldCOEdKxVg/Sg55+yjW1vDDT3+x+lepwjpQJgsTWQs1U6fsnpXn7K6UFfhFuRFOWHphNQbKxirZtECgyooooCiiigKKKKAooooCiiigKKKKAooooCiiig8NeUUUHlFeUUBRXlFAV5XtFB5Xle0UHleUUUBRRRQFeUUUBQRRRQeAVsFFFB6KzAoooMSK9CRRRQexWJSKKKDNIr2iigKKKKD/9k=');*/
	background-size: /*cover contain  length intitial inherit*/auto;
	padding: 0.2%;
}

body
{
	background-color: #f1f4f7;
}

.bigDiv
{
	position: inherit;
	width: 100%;
	height: 20%;
	
}

.nav
{
	display: inline-block;
	position:relative;
	/*float: none;
	clear: left;*/
	margin: 1%;
	margin-left: 20%;
	margin-right: 20%;
	padding: 0%;
	width: 50%;
	background-color: gainsboro;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-radius: 10%;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

span
{
	display: inline-block;
	float: none;
	/*clear: left;*/
	margin: 0%;
	padding-left: 5%;
	padding-right: 5%;
	font-family: Arial;
	align: justify;
	font-weight: bold;
	color: gray;
}

.categorie
{
	display: inline-block;
	position:relative;
	/*float: none;
	clear: left;*/
	margin: 1%;
	margin-left: 20%;
	margin-right: 20%;
	padding: 1%;
	width: 50%;
	background-color: gainsboro;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	color: gray;
	font-family: 'Oswald', sans-serif;
}

.cv
{
	display: inline-block;
	position:relative;
	float: none;
	/*clear: both;*/
	margin-top: 2%;
	margin-left: 20%;
	margin-right: 20%;
	padding: 1%;
	width: 50%;
	height: 300%;
	background-color: gainsboro;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	overflow: scroll;
	background-color: gainsboro;
	/*float: left;*/
	/*overflow-y: scroll;*/
	overflow-x: hidden;
}

.scroll
{
	position: inherite;
	clear: both;
	/*overflow: scroll;*/
	margin: 0.5%;
	padding:0.5%;
	width: auto;
	height: auto;
}

	#scrollbar::-webkit-scrollbar
	{
		width: 2%;
		background-color:gainsboro;
		clear: left;
	} 
	
	#scrollbar::-webkit-scrollbar-button       
	{ 
		
	}
	
	#scrollbar::-webkit-scrollbar-track        
	{ 
		
	}
	
	#scrollbar::-webkit-scrollbar-track-piece  
	{ 
		
	}
	
	#scrollbar::-webkit-scrollbar-thumb /* la barre qui bouge lors du défilement*/      
	{ 
		background-color: gray;
		border-radius:10px; 
	}
	#scrollbar::-webkit-scrollbar-thumb:hover /* pendant que la souris passe dessus */ 
	{
		background-color: Gainsboro;
		border:1px solid #333333;
	}
	#scrollbar::-webkit-scrollbar-thumb:active /* lorsque qu'on clique dessus */
	{
		background-color: #f1f4f7;
		border:1px solid #333333;
	} 
	#scrollbar::-webkit-scrollbar-corner       
	{  
		
	}
	
	#scrollbar::-webkit-resizer                
	{  
		 
	}
	
	@media only screen and (max-wdith : 200px)
{
		.cv
		{
	display: inline-block;
	position:relative;
	float: none;
	/*clear: both;*/
	margin-top: 2%;
	margin-left: 20%;
	margin-right: 20%;
	padding: 1%;
	width: 50%;
	height: 300%;
	background-color: red;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	overflow: scroll;
	/*float: left;*/
	/*overflow-y: scroll;*/
	overflow-x: scroll;
		}
		
		.scroll
	{
	position: inherite;
	clear: both;
	/*overflow: scroll;*/
	margin: 0.5%;
	padding:0.5%;
	width: auto;
	height: auto;
	}

	#scrollbar::-webkit-scrollbar
	{
		width: 2%;
		background-color:red;
		clear: left;
	} 
}

li
{
	list-style-type: none;
	position: relative;
	background-color: gainsboro;	
}
ul ul
{
	font-family: 'Oswald', sans-sérif;
	display:none;
	position: absolute;
	top:-56%;
	width: 100%;
	right: -115%;
	padding: 10%;
	margin: 0.5%;
	z-index: 1;
}
li:hover ul.En {display: block;}

ul ul li
{
	font-family: 'Oswald', sans-sérif;
	background-color: gainsboro;
	color: gray;
	padding: 3%;
}